<!DOCTYPE html>
{%load static %}
<html>
    <head>
        <meta charset='utf-8'>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
        <title>
            SCT
        </title>
        <body>
            <form method="POST" action="">
                {% csrf_token %}
                {%for message in messages%}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <h3 class="errormessage">{{message}}</h3>
             {% endfor %}
            <div class="userid">
                
                <input class="usernameinput" type="text" name="usernameinput" placeholder="Enter Username" required>
            </div>
            <br>
            <div class="password">
           
                <input class="passwordinput" type="password" name="passwordinput" placeholder="Enter Password" required>
            </div>
            <br>
            <div class="buttons">
                <button class="loginbutton">Log In</button>
                <br>
                <br>
                <a href="http://127.0.0.1:8000/signup" class="signuplink">Not a Member</a>
            </div>
            <br>
            <div class="otplink">
                <a href="http://127.0.0.1:8000/forgotpassword" class="forgotpasswordlink">Forgot Password</a>
                
            </div>
            </form>
        </body>
    </head>
</html>